button:focus,
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none !important;
    border-color: transparent !important;
    box-shadow: none !important;
}

.form-control:focus {
    outline: none;
    box-shadow: none;
    transition: none;
    border-color: #ced4da;
}

.bg-white {
    background-color: #fff !important;
}

#main {
    padding-top: 25vh;
}