<!DOCTYPE html>
<html>
<head>
  <title>PinJyu's blog home</title>

  <link rel="shortcut icon" href="favicon.ico"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="plugins/bootstrap-4.1.3-dist/css/bootstrap.min.css" type="text/css"/>
  <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="/blog/plugins/font_1724387_6vlx3kiv7m9/iconfont.css" type="text/css">
  <link rel="stylesheet" href="/blog/css/index.css" type="text/css"/>
</head>

<body>
  <!-- 导航栏 -->
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
    <div class="container">
      <!-- 导航栏标题 -->
      <a href="index.jsp" class="navbar-brand">PinJyu's Blog</a>
      <!-- 折叠导航栏按钮 -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-cls" aria-controls="nav-cls" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="nav-cls">
        <!-- 导航分类 -->
        <ul class="nav navbar-nav">
          <li class="nav-item active"><a class="nav-link py-0" href="/blog/home"><i class="iconfont icon-home9"></i></a></li>
          <!-- 下拉菜单 -->
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle py-0" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="iconfont icon-list-ul"></i></a>
            <div class="dropdown-menu" id="navCatatory">
              <template v-for="(count, catatory) in catatoryList">
                <a class="dropdown-item" href="">{{ catatory }}</a>
              </template>
            </div>
          </li>
          <li class="nav-item"><a class="nav-link py-0" href="#"><i class="iconfont icon-cloud2"></i></a></li>
          <li class="nav-item"><a class="nav-link py-0" href="#"><i class="iconfont icon-set1"></i></a></li>
          <li class="nav-item"><a class="nav-link py-0" href="/blog/about"><i class="iconfont icon-user1"></i></a></li>
        </ul>

        <!-- 搜索栏 -->
        <form class="form-inline ml-lg-auto">
          <div class="input-group">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" aria-describedby="basic-addon2"/>
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="submit"><i class="fa fa-search"></i></button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </nav>

  <!-- 位置 -->
  <div class="container d-none d-lg-block">
    <div class="row">
      <div class="col-lg-12">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb pl-0 py-0 bg-light">
            <li class="breadcrumb-item active" aria-current="page">/Home</li>
          </ol>
        </nav>
      </div>
    </div>
  </div>

  <!-- 主体 -->
  <div class="container">
    <div class="row">
      <!-- 侧边栏 -->
      <div class="container col-lg-3 d-none d-lg-block">
        <div class="row">
          <ul class="list-group col-lg-11 list-group-flush" id="sideBarCatatory">
            <template v-for="(count, catatory) in catatoryList">
              <li class="list-group-item d-flex list-group-item-action justify-content-between catalog">
                <a href="#">{{ catatory }}</a>
                <span class="badge badge-success badge-pill my-1">{{ count }}</span>
              </li>
            </template>
          </ul>
        </div>
      </div>
      <!-- 文章 -->
      <div class="container col-lg-9" id="articleContainer">
        <!-- 1 -->
        <template v-for="intro in introductionList">
          <div class="row mb-5" v-bind:id="intro.aid">
            <div class="col-lg-12">
              <div class="row">
                <div class="col-lg-2">
                  <!-- 类型图片 -->
                  <img src="images/blog-post-thumb-5.jpg" class="img-fluid d-none d-lg-block rounded" alt="java">
                </div>
                <div class="col-lg-10 pl-lg-0">
                  <div class="d-flex flex-column">
                    <!-- 文章标题 -->
                    <h3 class="title mb-1">
                      <a class="pt-0 font-weight-bold" href="#">{{ intro.title }}</a>
                    </h3>
                    <!-- 文章相关 -->
                    <div class="meta mb-1">
                      <span class="publish-time">Published {{ intro.establishtime }}</span>
                      <span class="lastmodify-time">lastmodify {{ intro.lastmodifytime }}</span>
                      <span>3 read</span>
                    </div>
                    <!-- 文章简介 -->
                    <div class="introduction">
                      {{ intro.introduction }}...
                      <a href="#">Read more →</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </template>
      </div>
    </div>
  </div>

  <!-- 分页 -->
  <div class="container d-none" ref="pl" id="pageList">
    <div class="row">
      <div class="col-lg-9 offset-lg-3">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center py-4">
            <li class="page-item" v-bind:class="{disabled : currentPage == 1}">
              <a class="page-link"  v-on:click.prevent="onClickPrevious" href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
              </a>
            </li>
            <template v-for="page in pageList">
              <li class="page-item" v-bind:class="{active : page == currentPage}"><a class="page-link" v-on:click="onClick(page)" href="#">{{ page }}</a></li>
            </template>
            <li class="page-item" v-bind:class="{disabled : currentPage == pageCount}">
              <a class="page-link" v-on:click.prevent="onClickNext" href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <!-- footer -->
  <footer class="d-none" ref="ft" id="foot">
    <div class="container">
      <div class="row">
        <div class="col-lg-1 offset-lg-11 d-none" ref="bt">
          <!-- back to top -->
          <a class="text-dark d-block text-right" href="#"><i class="iconfont icon-backtotop"></i></a>
        </div>
      </div>
    </div>
    <div class="container-fluid px-0">
      <div class="col-lg-12 text-center text-light bg-dark px-0 mx-0">
        Write by PinJyu.
      </div>
    </div>
  </footer>

  <!-- jQuery (Bootstrap 的所有 JavaScript 插件都依赖 jQuery，所以必须放在前边) -->
  <script src="https://cdn.jsdelivr.net/npm/jquery@3.4.1/dist/jquery.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <!-- 加载 Bootstrap 的所有 JavaScript 插件。也可以根据需要只加载单个插件。 -->
  <script src="/blog/plugins/bootstrap-4.1.3-dist/js/bootstrap.min.js"></script>
  <script src="/blog/plugins/vue.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.19.2/axios.min.js"></script>
  <script src="/blog/js/main.js"></script>
</body>
</html>
