<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.nhmt.blog.dao.BannerDao">

    <insert id="create" useGeneratedKeys="true" parameterType="cn.nhmt.blog.po.Banner">
        INSERT INTO banner (banner_address, banner_minutes, banner_create_gmt, banner_last_modify_gmt)
        VALUES (#{address}, #{minutes}, #{createGmt}, #{lastModifyGmt})
    </insert>

    <delete id="deleteById" parameterType="int">
        DELETE FROM banner WHERE banner_id = #{id}
    </delete>

    <delete id="deleteByAddress" parameterType="String">
        DELETE FROM banner WHERE banner_address = #{address}
    </delete>

    <update id="update" parameterType="cn.nhmt.blog.po.Banner">
        UPDATE banner
        <set>
            <if test="address != null">banner_address = #{address},</if>
            <if test="minutes != null">banner_minutes = #{minutes},</if>
            <if test="lastModify != null">banner_last_modify_gmt = #{lastModifyGmt},</if>
        </set>
        WHERE banner_id = #{id}
    </update>

    <resultMap id="rm_1" type="cn.nhmt.blog.po.Banner">
        <id column="banner_id" property="id"/>
        <result column="banner_address" property="address"/>
        <result column="banner_minutes" property="minutes"/>
        <result column="banner_create_gmt" property="createGmt"/>
        <result column="banner_last_modify_gmt" property="lastModifyGmt"/>
    </resultMap>

    <select id="retrieveById" parameterType="int" resultMap="rm_1">
        SELECT banner_id, banner_address, banner_minutes, banner_create_gmt, banner_last_modify_gmt
        FROM banner WHERE banner_id = #{id}
    </select>

    <select id="retrieveByAddress" parameterType="String" resultMap="rm_1">
        SELECT banner_id, banner_address, banner_minutes, banner_create_gmt, banner_last_modify_gmt
        FROM banner WHERE banner_address = #{address}
    </select>

    <select id="retrieveAll" resultMap="rm_1">
        SELECT banner_id, banner_address, banner_minutes, banner_create_gmt, banner_last_modify_gmt
        FROM banner
    </select>

</mapper>