<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.nhmt.blog.dao.RoleDao">

    <insert id="create" parameterType="cn.nhmt.blog.po.Role">
        INSERT INTO role (role_user_id, role_grant, role_create_gmt, role_last_modify_gmt)
        VALUES (#{userId}, #{grant}, #{createGmt}, #{lastModifyGmt})
    </insert>

    <delete id="delete" parameterType="int">
        DELETE FROM role WHERE role_user_id = #{userId}
    </delete>

    <update id="update" parameterType="cn.nhmt.blog.po.Role">
        UPDATE role
        <set>
            <if test="grant != null">role_grant = #{grant},</if>
            <if test="lastModifyGmt != null">role_last_modify_gmt = #{lastModifyGmt}</if>
        </set>
        WHERE role_user_id = #{userId}
    </update>

    <resultMap id="rm_1" type="cn.nhmt.blog.po.Role">
        <result column="role_user_id" property="userId"/>
        <result column="role_grant" property="grant"/>
        <result column="role_create_gmt" property="createGmt"/>
        <result column="role_last_modify_gmt" property="lastModifyGmt"/>
    </resultMap>

    <select id="retrieveByUserId" parameterType="int" resultMap="rm_1">
        SELECT role_user_id, role_grant, role_create_gmt, role_last_modify_gmt
        FROM role
        WHERE role_user_id = #{userId}
    </select>

    <select id="retrieveAll" parameterType="int" resultMap="rm_1">
        SELECT role_user_id, role_grant, role_create_gmt, role_last_modify_gmt
        FROM role
    </select>

</mapper>